h2 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
  background-color: #555;
}

.graph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.graph:hover {
  background-color: #e4e4e4;
  -webkit-box-shadow: 0px 4px 17px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 17px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 17px -1px rgba(0,0,0,0.75);
}
