h2 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
  background-color: #555;
}

.graph {
  margin-top: 20px;
  margin-bottom: 20px;
}
